/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../images/websitebackground.jpg);
    background-size: cover;
    /*height: 100%;
    width: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
}

/*html {
    background: url(../images/website13mlightgrey.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}*/

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;      
}

.navbar-inverse {
    /*background: transparent;*/
    color: black;
    opacity: .7;
    display: inline;
    z-index: 10;
    height: 60px;
}

.centreblock {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .7;
}

.textbox {
    background: #f0f2f5;
    border-style: hidden;
    border-radius: 12px;
    padding: 10px;
    margin: 15px;
    opacity: .7;
}
.centreheader {
    text-align: center;
}
#MyProjects {
    text-align: center;
}


.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    color: yellow;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: yellow;
}

/*.navbar-header {
    background: transparent;
    opacity: .7;
}*/

/* The sidenav */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 0;
    top: 60px;
    left: 0;
    background-color: #d9d9d9;
    /*overflow-x: hidden;*/
    opacity: .7;
}

.sidemenu {
    list-style-type: none;
    padding-left: 0;
}

/* Page content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

.buttonblock {
    background-color: #d9d9d9;
    border: 1px solid black;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    display: block;
    list-style-type: none;
    left: 0;
}

.buttonblock:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}


.buttonblock:hover {
    background-color: black;
    color: white;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.menu-toggler {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

    .menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
        background: white;
    }

    .menu-toggler:checked + label {
        background: transparent;
    }

        .menu-toggler:checked + label:before, .menu-toggler:checked + label:after {
            top: 0;
            width: 40px;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        .menu-toggler:checked + label:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .menu-toggler:checked + label:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .menu-toggler:checked ~ ul .menu-item {
        opacity: 1;
    }

        .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
            -webkit-transform: rotate(0deg) translateX(-110px);
            transform: rotate(0deg) translateX(-110px);
        }

        .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
            -webkit-transform: rotate(60deg) translateX(-110px);
            transform: rotate(60deg) translateX(-110px);
        }

        .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
            -webkit-transform: rotate(120deg) translateX(-110px);
            transform: rotate(120deg) translateX(-110px);
        }

        .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
            -webkit-transform: rotate(180deg) translateX(-110px);
            transform: rotate(180deg) translateX(-110px);
        }

        .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
            -webkit-transform: rotate(240deg) translateX(-110px);
            transform: rotate(240deg) translateX(-110px);
        }

        .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
            -webkit-transform: rotate(300deg) translateX(-110px);
            transform: rotate(300deg) translateX(-110px);
        }

        .menu-toggler:checked ~ ul .menu-item a {
            pointer-events: auto;
        }

    .menu-toggler + label {
        width: 40px;
        height: 5px;
        display: block;
        z-index: 1;
        border-radius: 2.5px;
        background: rgba(255, 255, 255, 0.7);
        -webkit-transition: top 0.5s, -webkit-transform 0.5s;
        transition: top 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, top 0.5s;
        transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

        .menu-toggler + label:before, .menu-toggler + label:after {
            width: 40px;
            height: 5px;
            display: block;
            z-index: 1;
            border-radius: 2.5px;
            background: rgba(255, 255, 255, 0.7);
            -webkit-transition: top 0.5s, -webkit-transform 0.5s;
            transition: top 0.5s, -webkit-transform 0.5s;
            transition: transform 0.5s, top 0.5s;
            transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s;
            content: "";
            position: absolute;
            left: 0;
        }

        .menu-toggler + label:before {
            top: 10px;
        }

        .menu-toggler + label:after {
            top: -10px;
        }

.menu-item:nth-child(1) a {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-item:nth-child(2) a {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.menu-item:nth-child(3) a {
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.menu-item:nth-child(4) a {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.menu-item:nth-child(5) a {
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
}

.menu-item:nth-child(6) a {
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
}

.menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: block;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

    .menu-item a {
        display: block;
        width: inherit;
        height: inherit;
        line-height: 80px;
        color: rgba(255, 255, 255, 0.7);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        font-size: 40px;
        pointer-events: none;
        -webkit-transition: .2s;
        transition: .2s;
    }

        .menu-item a:hover {
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
            color: white;
            background: rgba(255, 255, 255, 0.3);
            font-size: 44.4444444444px;
        }

