@model CheckAPIModel
<div class="textbox" id="CurrencyApi">
    <h3 class="centreheader"><u>Currency</u></h3>
    <br />
    @using (Html.BeginForm("CurrencyApi", "Api", FormMethod.Post))
    {
        @Html.LabelFor(m => m.CurrencyToConvert)
        @Html.TextBoxFor(m => m.CurrencyToConvert)

        @Html.LabelFor(m => m.AmmountToConvert)
        @Html.TextBoxFor(m => m.AmmountToConvert)

        <input type="submit" value="Currency" />
    }
</div>