@{
    ViewData["Title"] = "Games";
    ////Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<div class="sidenav">
    <ul class="sidemenu">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

