@{
    ViewData["Title"] = "Games";
    ////Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CheckAPIModel

<h2>Games - Under Construction</h2>
@*<input type="button" value="button name" onclick="window.open("~")" />*@
@*<button onclick="window.location.href='~/Views/Visuals/DownloadCV.cshtml'">Continue</button>*@
<button onclick="location.href='@Url.Action("DownloadCV", "GamesController")'">Go</button>



