<a href="~/files/BrianMitchellC.V.pdf" id="testb" download="BrianMitchellC.V.pdf"></a>
<script>
    $(document).ready(function () {
        var link = document.getElementById("testb");
        //window.alert(link + "here is text");
        link.click();
    });

    //$(window).on("load", function () {
    //    var url = "~/files/Brian Mitchell C.V^.pdf";
    //    window.open(url, '_blank');
    //});
</script>